{% load admin_panel_extras %}
<h1>Models</h1>
<ul>
{% for model in object_list %}
    <li><a href="{% url 'admin_panel:model-list' model|class_name %}">{{ model|class_name }}</a></li>
{% empty %}
    <li>No models yet.</li>
{% endfor %}
</ul>