{% load admin_panel_extras %}
<h1>{{ model_name }}</h1>
<h2><a href="{% url 'admin_panel:model-create' model_name %}">Add {{ model_name }}</a></h2>
<ul>
{% for object in object_list %}
    <li>{{ object }} <a href="{% url 'admin_panel:model-detail' model_name object.id %}">Detail</a> <a href="{% url 'admin_panel:model-update' model_name object.id %}">Edit</a> <a href="{% url 'admin_panel:model-delete' model_name object.id %}">Delete</a></li>
{% empty %}
    <li>No models yet.</li>
{% endfor %}
</ul>